<nav class="navbar navbar-expand-sm navbar-light shadow fixed-top text-center" id="navbar">
    <div class="container-fluid" style="position: sticky">
        <a class="navbar-brand" href="/">Chee Jun Hong</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto nav-items">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#home"><i class="fa fa-home"></i> HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about"><i class="fa fa-user"> </i> ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio">
                        <i class="fa fa-th"> </i> PORTFOLIO
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">
                        <i class="fa fa-envelope"> </i> CONTACT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>